@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0%;
}

/* Footer */

footer{
	position: relative;
	bottom: 0;
}

.f-distributed{
	display: grid;
	grid-template-columns: auto;
	position: relative;
	background-color: rgb(153, 149, 149);
	box-sizing: border-box;
	width: 100%;
	padding: 20px 40px 40px 40px;;
    font-size: 11pt;
}


.direccion{
	display: grid;
	grid-template-columns: auto auto;
}

.f-left, .f-center, .f-right{
	display: block;
	width: 100%;
}

.f-center{
	display: none;
}

.f-left-grid{
	display: grid;
	grid-template-rows: repeat(3, auto);
}

.f-left-grid p{
	font-size: 10pt;
}


.f-center-grid{
	display: grid;
	grid-template-columns: repeat(3,auto);
}

.f-center-grid * h4{
	font-size: 10pt;
	font-weight: 900;
}

.f-center-grid * li{
	font-size: 8pt;
	padding: 0;
}


li{
	list-style-type: none;
	text-transform: uppercase;
}

.f-right-grid{
	display: grid;
    grid-template-columns: repeat(2,auto);
}

.f-right-grid p{
    font-size: 8pt;
}

.f-right-grid h4{
	grid-column: 1 / end;
}

.iconosRedes{
    display: grid;
    grid-template-columns: repeat(3,auto);
    padding-left: 5%;
    justify-content: center;
    align-content: center;
    gap: 5%;
    margin-left: 5%;
}
.iconosRedes img{
	width: 35px;
}

.botRight{
	position: absolute;
	bottom: 0;
    right: 0;
	max-width: 60%;
	max-height: 730px;
}

.botRightPc{
	display: none;
	position: absolute;
	bottom: 0;
    right: 0;
	max-width: 60%;
	max-height: 730px;
}

h4{
    padding-bottom: 2%;
}

/* END Footer */

/* Header */

header:first-child *{
	font-size: .9em;
}

.sup-container {
	padding-top: 12px;
	min-height: 3rem;
	display: grid;
	grid-template-columns: 75% auto;
}

.sup-container span:first-child {
	padding-left: 3%;
}

.top-left-border {

	max-width: 38%;
	margin-bottom: 10px;
	margin-left: -1%;
}

.headPCLogo{
	max-height: 100px;
}

.head-cont{
	display: grid;
	grid-template-columns: 25% 40% repeat(3, auto);
	padding-top: -10%;
}

.head-cont * {
	justify-self: center;
	align-self: center;
}
.search-bar {
	width: 100%;
}

#form1 {
	border-radius: 15px;
	height: 1.5em;
	background-color: #e6e6e6;
	border: 0 #81818100;
}

.navBarPC {
	display: flex;
	justify-content: space-between;
	padding: 1% 3% 1% 3%;
}

a{
	color: black;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
	color: black;
}

.anounce-dropdown {
	font-weight: 700;
	padding: 1%;
	text-align: center;
	color: #c9232c;
}
.anounce-dropdown:hover {
	font-size: 1.1rem;
	font-weight: bolder;
}

/* END Header */

/* Header - Mobile*/

header-mobile {
	display: grid;
	grid-template-columns: 15% 35% 17.5% 17.5% 15%;
	grid-auto-flow: column;
	align-items: center;
	justify-items: center;
	max-height: 150px;
}

header-mobile * {
	max-height: 150px;
}

.headLogo{
	z-index: 0;
	max-width: 150px;
}

header-mobile a{
	z-index: 999;
}
.headIcon{
	max-height: 25px;
	max-width: 25px;
}

.menu-icon {
	font-size: 1.5rem;
	color: black;
}

.menu-icon:hover{
	text-decoration: none;
	color: white;
}
/* SIDE BAR */

#side-nav-bar{
	background-color: black;
	height: 100vh;
	width: 0;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	overflow-x: hidden;
	padding-top: 10%;
	transition: width 0.07s;
}

#side-nav-bar a{
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	padding: 8px 8px 8px 8px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

#side-nav-bar a:hover{
	color: #f1f1f1;
}

.menu-icon:hover{
	color: black;
	-webkit-text-stroke: 1px rgb(52, 52, 52);
}
#side-nav-bar .close-btn{
	position: absolute;
	top: 0;
	right: 10%;
	font-size: 36px;
	margin-left: 50px;
}

/* END OF SIDE BAR */

	/* NavBar
.navBar a{
	display: block;
	color: black;
	text-align: center;
	padding: 5%;
	text-decoration: none;
	font-size: 20pt;
}

.navBar a:hover{
	text-decoration: underline;
}

.navBar .icon{
    float: left;
    display: block;
} */
/* .navBar a.active{
	color: red;
} */

	/* END NavBar */
/* END Header */


@media only screen and (min-width: 550px) {
	.f-distributed {
		padding-bottom: 55px;
	}
	.headLogo{
		max-width: none;
	}
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 780px) {
	.f-distributed {
		grid-template-columns: 30% 40% 25%;
		justify-content: space-evenly;
	}

	.f-left{
		display: inline-block;
		vertical-align: top;
	}

	.f-center{
		display: inline-block;
		vertical-align: top;
	}

	.f-right{
		display: inline-block;
		vertical-align: top;
	}

	.f-right-grid {
		grid-template-columns: auto;
		grid-template-rows: repeat(2, auto);
	}
	
	.f-right-grid p{
		font-size: 8pt;
	}
	
	.f-right-grid h4{
		grid-column: 1 ;
	}

	.iconosRedes{
		padding-top: 0;
		padding-left: 0;
		margin-left: 0;
	}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.f-distributed {
		padding-bottom: 55px;
	}
	
	.botRight { display: none;}

	.botRightPc { display: block;}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	/* body{
		background-color: black;
	} */

	.f-distributed {
		padding-bottom: 35px;
	}
}

/* Super large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 2000px) {
	.f-distributed {
		display: none;
	}
}
.test-content{
	padding-bottom: 10%;
	/* background-color: aqua; */
}

/* Bootstrap modificationss */

.carousel-inner > .item > img {
	min-width: 100%;
	height: calc(100% * 16/9);
  }
  